@import './variables.css';

.city-card-item {
  cursor: pointer;
  width: 100%;
  margin-bottom: 0.5rem;
  flex: 1;
}

.city-card-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.city-card-grid {
  justify-content: space-between;
  align-items: center;
}

.city-card-info-stack {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.city-card-country {
  color: var(--text-subtle);
}

.city-card-city {
  color: var(--text-primary);
}

.city-card-temp-apparent {
  color: var(--text-subtle);
}

.city-card-icon-container {
  align-items: center;
}

.city-card-temp-stack {
  align-items: baseline;
  justify-content: flex-end;
}
