@import './variables.css';

.weather-details-container {
  justify-content: space-around;
  align-items: stretch;
}

.weather-details-stack {
  justify-content: space-around;
  align-items: stretch;
}

.weather-details-item-stack {
  align-items: flex-end;
}

.weather-details-label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  overflow: hidden;
}

.weather-details-label-icon {
  flex-shrink: 0;
}

.weather-details-label-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 900px) {
  .weather-details-label-text {
    display: none;
  }
}

.weather-details-twilight-item {
  padding: clamp(1rem, 3vh, 3rem);
}

.weather-details-twilight-stack {
  justify-content: flex-start;
  align-items: center;
}
